td{
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    /*border: 4px solid silver;*/
}

table{
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    width: 55px;
    height: 55px;
}
h1{
    font-size: 45px;
    text-align: center;
}